body{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    border: 1px solid #E8EBE4; 
;
}

.chat{
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid #E8EBE4;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.tabla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
    gap: 1px;
}
.tabla-inte img{
    width: 20em;
}

h1{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 70px;
}
.tabla-int p{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;

}

.perfil{
    display: flex;
    border-top: 1px solid #E8EBE4; 
    gap: 15px;
    padding: 20px 50px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}

.perfil img{
    border-radius: 50%;
    width: 5rem;
}

.principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;

}

.principal img{
    border-radius: 50%;
    width: 5rem;
    
}

.primer-chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    


}
.chat-new{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.5rem;
    border-top: 1px solid #E8EBE4;
   
    
}

.chat-new input{
    width: 15rem;
    height: 5rem;
    background-color: #A491D2;
    color: white;
    border: #A491D2;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;

    
}

.user{
    display: flex;
    gap: 1rem;
    padding: 15px 5px;
}

.icons{
    display: flex;
    gap: 1rem;
}

.user small{
    padding: 0;
    margin: 0;
}

.user h3{
    margin: 0;
    padding: 0;
}
